@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@600&display=swap');


nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Sofia Sans', sans-serif;
    padding: 0.6rem;
    background-color: rgb(68, 66, 70);
}

img{
    height: 3.4rem;
    width: 9rem;
    float: right;
}

.logo{
    align-items: center;
}

ul{
    display: flex;
    
}

li{ 
    list-style: none;
    padding: 1em;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    transition: color 0.2s;
    color: white;
}

li:hover{
    background-color: white;
    transition: all 0.2s;
}
li:hover a{
    color: black;
}
nav button{
    color: white;
}
li:hover button{
    color: black;
}
.list-element-about-submenu{
    display: none;
    list-style: none;
    position: absolute;
    top: 3.7em;
    left: 0.6em;
    width: auto;
    cursor: pointer;
    color: white;
}
.list-element-about-submenu li{
    display: block;
    padding: 0.64em;
}
.list-element-about-submenu li:hover{
    transition: color 0.4s;
    background-color: white;
    color: black;
}
Nav li:hover .list-element-about-submenu{
    display: block;
    background-color: rgb(68, 66, 70);
}

.edit-submenu{
    left: 4.1em;
}

.edit-submenu li{
    padding: 0.69em;
}