.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-wrapper{
    text-align: center;
}

.header-wrapper h2{
    margin-top: 2rem;
    font-size: 1.6rem;
}

.header-wrapper h4{
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

textarea{
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}

input{
    border: 1px solid black;
    border-radius: 5px;
    height: 2.4rem;
    width: 14rem;
    padding: 0.1rem
}

